<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h3>title</h3>
<p>
  <%= @index["title"]%>
</p>


<h3>content</h3>

<p>
  <%= @index["content"]%>
</p>




<%= link_to "back", root_path %>